streamlit==1.35.0

langchain==0.2.12
langchain-community==0.2.11
langchain-text-splitters==0.2.4
langchain-google-genai

faiss-cpu
pypdf
python-dotenv
google-generativeai

pandas
openai

sentence-transformers
torch
torchvision
transformers
Pillow>=10.4.0